.alpha {
    height: 400px;
    width: 400px;
    flex-direction: row;
    border: 2px solid green;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.letter {
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
}