#container {
    height: 500px;
    width: 60%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex; /* Restrict to adjust only parent div no overflow ...... by default flex value is row */
    /*flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: center;   flex-start, flex-end , space-between, space-around;*/
    flex-direction: row;
    justify-content: flex-start;
    /*flex-wrap: wrap;    /* nowrap:adjust in same line , wrap:wrap in multiple line , wrap-reverse : it axis olny cross-axsis*/
    align-items: flex-start; /*by default vertically ...flex-end,flex-start,centre,basline--set the item top,battom,centre*/
    align-content: flex-start;
}

#org {
    align-self: self-start;
    /*flex-basis: 50px;*/
    /*flex-grow: 1;
    flex-shrink: 2;*/
    flex: 2 2 100px;   /*flex-grow|flex-shrink|flex-basis*/
}

#blue {
    /*flex-basis: 300px;*/
    /*flex-grow: 2;
    max-width: 300px;
    flex-shrink: 3;*/
    flex-grow: 1;
}

h1{
    text-align: center;
}

#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}